.DragContainer {
	BORDER-RIGHT: #669999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #669999 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 3px; BORDER-LEFT: #669999 2px solid;   PADDING-TOP: 2px; BORDER-BOTTOM: #669999 2px solid
}
.OverDragContainer {
	BORDER-RIGHT: #669999 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #669999 2px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 3px; BORDER-LEFT: #669999 2px solid;  PADDING-TOP: 2px; BORDER-BOTTOM: #669999 2px solid
}
.OverDragContainer {
	BACKGROUND-COLOR: #eeee
}
.DragBox {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Tahoma";BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px;  MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 400 px; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid;BACKGROUND-COLOR: #FFFFFF
}
.OverDragBox {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #FF0000; FONT-FAMILY: "Tahoma";BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px;  MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 400 px;CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #eeeee
}
.DragDragBox {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #FF0000; FONT-FAMILY: "Tahoma";BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px;  MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 400 px; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid;  BACKGROUND-COLOR: #eeeee
}
.OverDragBox {
	BACKGROUND-COLOR: #ffff99
}
.DragDragBox {
	BACKGROUND-COLOR: #ffff99;WIDTH: 400 px;
}
.DragDragBox {
	FILTER: alpha(opacity=50); BACKGROUND-COLOR: #ff99cc;WIDTH: 400 px;
}

FIELDSET {
PADDING-BOTTOM: 3px; PADDING-TOP: 3px;BORDER: 0px solid; 
}
.TxtNormal {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Tahoma";
}