<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  lang="TH"><head>
<meta http-equiv="Content-Type" content="text/html; charset=tis-620" />
<title>ศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์  กระทรวงเทคโนโลยีสารสนเทศและสื่อสาร</title>
<script type="text/javascript">
		<!--
			function timeControl() {
			//ตั้งเวลา 4 นาที 40 วินาที, ในการถามผู้ใช้.ห
			setTimeout('userCheck(); 280000);
			}
			function userCheck() {
			//ตั้งเวลา refresh หน้าเว็บทุกๆ 20 นาที
			var id=setTimeout('pageReload();200000);
			//ถ้าผู้ใช้เลือก "OK" เวลาจะถูก reset
			// แต่ถ้าเลือก "Cancel" หน้าเว็บไซต์จะ refresh จาก server.
			if (confirm("หน้านี้จะถูก refresh ภายใน 20 วินาทีนี้ คุณต้องการหรือไม่")}
			{
			clearTimeout(id);
			timeControl();
			}
		}
		function pageReload() {
			window.location.reload(true);
		}
		timeControl();

		-->
</script>

</head>

<body>
<h1>ศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์ <br />
กระทรวงเทคโนโลยีสารสนเทศและสื่อสาร</h1>
<hr size="1" />
<h2>Table of Content </h2>
<ol>
  <li>
    <h3><a href="index.html" accesskey="i" title="ลิงค์ไปที่ยังหน้าแรกของเว็บไซต์">Back home</a></h3>
  </li>
  <li>
    <h3><a href="aboutus.html" accesskey="a" title="ลิงค์ไปที่ยังหน้าเกี่ยวกับโครงการของศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์ ">About ICT's Project</a></h3>
  </li>
  <li>
    <h3><a href="seminar.html "  accesskey="s" title="ลิงค์ไปที่ยังหน้าการฝึกอบรมสัมและสัมมนาต่างๆ ">Training and Seminar</a></h3>
  </li>
  <li>
    <h3><a href="jobinfo.html"  accesskey="่" title="ลิงค์ไปที่ยังหน้าข้อมูลงาน">Jobs information</a></h3>
  </li>
  <li>
    <h3><a href="stuinfo.html"  accesskey="s" title="ลิงค์ไปที่ยังหน้าข้อมูลนักศึกษา">Students information</a></h3>
  </li>
  <li>
    <h3><a href="compinfo.html"  accesskey="c" title="ลิงค์ไปที่ยังหน้าข้อมูลสถานประกอบการ">Corparate information</a></h3>
  </li>
  <li>
    <h3><a href="sitemap.html"  accesskey="si" title="ลิงค์ไปที่ยังหน้าแผนผังของเว็บไซต์">Site map</a></h3>
  </li>
  <li>
    <h3><a href="link.html"  accesskey="l" title="ลิงค์ไปที่ยังหน้าเชื่อมโยงเว็บไซต์อื่นๆที่เกี่ยวข้อง">Link website</a></h3>
  </li>
  <li>
    <h3><a href="contactus.html"  accesskey="c" title="ลิงค์ไปที่ยังหน้าติดต่อศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์">Contact us </a></h3>
  </li>
</ol>
<h2>Press news</h2>
<ul>
  <li>
    <h3><a href="news1.php" target="_blank">สำนักงาน   ก.พ. จัดประชุมภารกิจด้านการสื่อสารประชาสัมพันธ์ </a>ต่อการปรับเปลี่ยนระบบบริหารทรัพยากรบุคคลตามพระราชบัญญัติระเบียบข้าราชการพลเรือน   พ.ศ. 2551 </h3>
  </li>
  <li>
    <h3><a href="news2.php" target="_blank">รมว.ไอซีที   ตรวจเยี่ยมชมกิจการ TOT พร้อมมอบนโยบายแก่พนักงาน</a><br />
      ดร.มั่น พัธโนทัย   รัฐมนตรีว่าการกระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร พร้อมคณะตรวจเยี่ยมชมกิจการ   บริษัท ทีโอที จำกัด (มหาชน)</h3>
  </li>
  <li>
    <h3><span class="normal"><a href="news3.php" target="_blank">ผู้ตรวจราชการกระทรวงไอซีที เปิดศูนย์ ICT ชุมชน   ที่ระนอง</a><br />
      นายธานีรัตน์ ศิริปะชะนะ   ผู้ตรวจราชการกระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร   เป็นประธานเปิดศูนย์การเรียนรู้ ICT</span>
        </h5>
    </h3>
  </li>
</ul>
<hr size="1">
<h4>สงวนลิขสิทธิ์ 2551- กระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร <br />
  อาคาร 9 บริษัท ทีโอที จำกัด (มหาชน) ถนนแจ้งวัฒนะ เขตหลักสี่ กรุงเทพฯ 10210 </h4>
</body>
</html>
