<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="th">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=tis-620" />
<title>ศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์  กระทรวงเทคโนโลยีสารสนเทศและสื่อสาร</title>
<script type="text/javascript">
		<!--
			function timeControl() {
			//ตั้งเวลา 4 นาที 40 วินาที, ในการถามผู้ใช้.
			setTimeout('userCheck(); 280000);
			}
			function userCheck() {
			//ตั้งเวลา refresh หน้าเว็บทุกๆ 20 นาที
			var id=setTimeout('pageReload();200000);
			//ถ้าผู้ใช้เลือก "OK" เวลาจะถูก reset
			// แต่ถ้าเลือก "Cancel" หน้าเว็บไซต์จะ refresh จาก server.
			if (confirm("หน้านี้จะถูก refresh ภายใน 20 วินาทีนี้ คุณต้องการหรือไม่")}
			{
			clearTimeout(id);
			timeControl();
			}
		}
		function pageReload() {
			window.location.reload(true);
		}
		timeControl();

		-->
</script>
		<style>
		.h1 {
					background:#eeeeee;
					font-family:"tahoma";
					font-size: 20px;
					color: #000000;
					width:100%;
					font-weight:bold;
				}
		.h2 {
			font-family:tahoma;
			font-size: 18px;
			width:100%;
			font-weight:bold;
			color: #FFFFFF;
			background-color: #000000;
				}
		.h3 {
			background:#eeeeee;
			cursor:hand;
			font-family:"tahoma";
			font-size: 14px;
			width:100%;
			font-weight:bold;
			height: 20px;
				}
		.h4 {
				background:#eeeeee;
				cursor:hand;
				font-family:"tahoma";
				font-size: 12px;
				width:100%;
				font-weight:bold;
				}
		.h5 {
				background:#eeeeee;
				cursor:hand;
				font-family:"tahoma";
				font-size: 11px;
				width:100%;
				font-weight:bold;
				}
		.normal {
	cursor:hand;
	font-family:tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #333333;
	text-decoration: none;
				}

		
		.h3 a:link {
			background:#eeeeee;
			cursor:hand;
			font-family:tahoma;
			font-size: 14px;
			width:100%;
			font-weight:bold;
			height: 20px;
			text-decoration: none;
		}
		.h3 a:visited {
			background:#eeeeee;
			cursor:hand;
			font-family:tahoma;
			font-size: 14px;
			width:100%;
			font-weight:bold;
			height: 20px;
			text-decoration: none;
		}
		.h3 a:hover {
			cursor:hand;
			font-family:tahoma;
			font-size: 14px;
			width:100%;
			font-weight:bold;
			height: 20px;
			color: #FFFFFF;
			background-color: #CC0000;
			text-decoration: none;
		}
		.h3 a:active {
			background:#eeeeee;
			cursor:hand;
			font-family:tahoma;
			font-size: 14px;
			width:100%;
			font-weight:bold;
			height: 20px;
			text-decoration: none;
		}
		.normal a:link {
	cursor:hand;
	font-family:tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #333333;
	text-decoration: underline;
}
        .normal a:visited {
	cursor:hand;
	font-family:tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}
        .normal a:hover {
	cursor:hand;
	font-family:tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #CC0000;
}
        .normal a:active {
	cursor:hand;
	font-family:tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #333333;
	text-decoration: none;
}
        </style>
</head>

<body>
<table width="100%" height="100%" border="0" cellpadding="2" cellspacing="1" id="1" summary="ตารางแสดงข้อมูลเว็บไซต์">
  <tr>
    <td><h1><img src="images/logo.jpg" alt="ศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์" width="262" height="185" align="left" longdesc="http://www.ictapparient.org" />ศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์
        <br />
    กระทรวงเทคโนโลยีสารสนเทศและสื่อสาร</h1></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="1" cellpadding="2">
      <tr>
        <td width="20%" valign="top" bgcolor="#F3F3F3"><table width="100%" border="0" cellspacing="1" cellpadding="2" summary="ตารางแสดงเมนูของเว็บไซต์" class="menu">
          <caption class="text_normal">
            เมนูของเว็บไซต์
            </caption>
          <tr>
            <td><p class="h3"><a href="index.html" accesskey="i" title="ลิงค์ไปที่ยังหน้าแรกของเว็บไซต์">หน้าแรก</a></p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="aboutus.html" accesskey="a" title="ลิงค์ไปที่ยังหน้าเกี่ยวกับโครงการของศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์ ">เกี่ยวกับโครงการ</a></p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="seminar.html "  accesskey="s" title="ลิงค์ไปที่ยังหน้าการฝึกอบรมสัมและสัมมนาต่างๆ ">การฝึกอบรม/สัมมนา</a></p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="jobinfo.html"  accesskey="่" title="ลิงค์ไปที่ยังหน้าข้อมูลงาน">ข้อมูลงาน</a></p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="stuinfo.html"  accesskey="s" title="ลิงค์ไปที่ยังหน้าข้อมูลนักศึกษา">ข้อมูลนักศึกษา</a></p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="compinfo.html"  accesskey="c" title="ลิงค์ไปที่ยังหน้าข้อมูลสถานประกอบการ">ข้อมูลสถานประกอบหการ</a></p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="sitemap.html"  accesskey="si" title="ลิงค์ไปที่ยังหน้าแผนผังของเว็บไซต์">แผนผังเว็บไซต</a>์</p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="link.html"  accesskey="l" title="ลิงค์ไปที่ยังหน้าเชื่อมโยงเว็บไซต์อื่นๆที่เกี่ยวข้อง">ลิงค์เว็บไซต์ที่เกี่ยวข้อง</a></p></td>
          </tr>
          <tr>
            <td><p class="h3"><a href="contactus.html"  accesskey="c" title="ลิงค์ไปที่ยังหน้าติดต่อศูนย์ประสานงานการฝึกประสบการณ์ด้านไอซีทีออนไลน์">ติดต่อเรา</a></p></td>
          </tr>
        </table></td>
        <td valign="top"><table width="100%" border="0" cellspacing="1" cellpadding="2">
          <tr>
            <td class="text_head" title="ตารางแสดงข้อมูลเชื่อมโยงเว็บไซต์อื่นๆที่เกี่ยวข้อง">ลิ้งเว็บไซต์ที่เกี่ยวข้อง</td>
          </tr>
          <tr>
            <td class="normal"><p>หน่วยงานในสังกัด</p>
              <ul>
                <li><a href="http://www.mict.go.th/"  title="สำนักงานปลัดกระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร">สำนักงานปลัดกระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร</a> </li>
                <li><a href="http://www.tmd.go.th/" target="_blank" title="กรมอุตุนิยมวิทยา">กรมอุตุนิยมวิทยา</a> </li>
                <li><a href="http://www.nso.go.th/" target="_blank" title="สำนักงานสถิติแห่งชาต">สำนักงานสถิติแห่งชาต</a> </li>
                <li><a href="http://www.tot.co.th/" target="_blank" title="บริษัท ทีโอที จำกัด   (มหาชน)">บริษัท ทีโอที จำกัด   (มหาชน)</a> </li>
                <li><a href="http://www.thailandpost.com/" target="_blank" title="บริษัท ไปรษณีย์ไทย   จำกัด ">บริษัท ไปรษณีย์ไทย   จำกัด </a> </li>
                <li><a href="http://www.sipa.or.th/" target="_blank" title="สำนักงานส่งเสริมอุตสาหกรรมซอฟต์แวร์แห่งชาติ (องค์การมหาชน)">สำนักงานส่งเสริมอุตสาหกรรมซอฟต์แวร์แห่งชาติ (องค์การมหาชน)</a> </li>
              </ul>
              <p>ส่วนราชการอื่นๆ </p>
              <ul>
                <li><a href="http://www.thaigov.go.th/" target="_blank" title="สำนักนายกรัฐมนตรี ">สำนักนายกรัฐมนตรี </a>
                    <ul>
                      <li><a href="http://www.opm.go.th/" target="_blank" title="สำนักงานปลัดสำนักนายกรัฐมนตรี">สำนักงานปลัดสำนักนายกรัฐมนตรี </a></li>
                      <li><a href="http://www.cabinet.thaigov.go.th/" target="_blank" title="สำนักเลขาธิการคณะรัฐมนตร>ี ">สำนักเลขาธิการคณะรัฐมนตร>ี </a></li>
                      <li><a href="http://www.thaigov.go.th/" target="_blank" title="สำนักเลขาธิการนายกรัฐมนตรี">สำนักเลขาธิการนายกรัฐมนตรี</a> </li>
                      <li><a href="http://www.nia.go.th/" target="_blank" title="สำนักข่าวกรองแห่งชาติ ">สำนักข่าวกรองแห่งชาติ </a></li>
                      <li><a href="http://www.bb.go.th/" target="_blank" title="สำนักงบประมาณ">สำนักงบประมาณ</a> </li>
                      <li><a href="http://www.nsc.go.th/" target="_blank" title="สำนักงานสภาความมั่นคงแห่งชาติ">สำนักงานสภาความมั่นคงแห่งชาติ</a> </li>
                      <li><a href="http://www.krisdika.go.th/" target="_blank" title="สำนักงานคณะกรรมการกฤษฎีกา">สำนักงานคณะกรรมการกฤษฎีกา</a> </li>
                      <li><a href="http://www.ocsc.go.th/" target="_blank" title="สำนักงานคณะกรรมการข้าราชการพลเรือน">สำนักงานคณะกรรมการข้าราชการพลเรือน</a> </li>
                      <li><a href="http://www.nesdb.go.th/" target="_blank" title="สำนักงานคณะกรรมการพัฒนาการเศรษฐกิจและสังคมแห่งชาติ">สำนักงานคณะกรรมการพัฒนาการเศรษฐกิจและสังคมแห่งชาติ </a>/li>
                      <li><a href="http://www.opdc.go.th/" target="_blank" title="สำนักงานคณะกรรมการพัฒนาระบบราชการ">สำนักงานคณะกรรมการพัฒนาระบบราชการ</a> </li>
                      <li><a href="http://www.prd.go.th/" target="_blank" title="กรมประชาสัมพันธ์ ">กรมประชาสัมพันธ์ </a></li>
                      <li><a href="http://www.trf.or.th/" target="_blank" title="สำนักงานกองทุนสนับสนุนการวิจัย">สำนักงานกองทุนสนับสนุนการวิจัย</a> </li>
                      <li><a href="http://www.ocpb.go.th/" target="_blank" title="สำนักงานคณะกรรมการคุ้มครองผู้บริโภค">สำนักงานคณะกรรมการคุ้มครองผู้บริโภค</a> </li>
                      <li><a href="http://www.onec.go.th/" target="_blank" title="สำนักงานคณะกรรมการการศึกษาแห่งชาติ ">สำนักงานคณะกรรมการการศึกษาแห่งชาติ </a></li>
                      <li><a href="http://www.mcot.net/" target="_blank" title="บริษัท อสมท จำกัด (มหาชน)">บริษัท อสมท จำกัด (มหาชน)</a> </li>
                    </ul>
                </li>
                <li><a href="http://www.mod.go.th/" target="_blank" title="กระทรวงกลาโหม">กระทรวงกลาโหม</a>
                    <ul>
                      <li><a href="http://www.osd.mod.go.th/" target="_blank" title="สำนักงานเลขานุการรัฐมนตรี">สำนักงานเลขานุการรัฐมนตรี</a> </li>
                      <li><a href="http://www.mod.go.th/" target="_blank" title="สำนักงานปลัดกระทรวงกลาโหม">สำนักงานปลัดกระทรวงกลาโหม</a> </li>
                      <li><a href="http://www.radc.go.th/" target="_blank" title="กรมราชองครักษ์">กรมราชองครักษ์</a> </li>
                      <li><a href="http://www.schq.mi.th/" target="_blank" title="กองบัญชาการทหารสูงสุด">กองบัญชาการทหารสูงสุด</a> </li>
                      <li><a href="http://www.rta.mi.th/" target="_blank" title="กองทัพบก">กองทัพบก</a> </li>
                      <li><a href="http://www.navy.mi.th/" title="กองทัพเรือ">กองทัพเรือ</a> </li>
                      <li><a href="http://www.rtaf.mi.th/" title="กองทัพอากาศ">กองทัพอากาศ</a> </li>
                    </ul>
                </li>
                <li><a href="http://www.mof.go.th/" target="_blank" title="กระทรวงการคลัง">กระทรวงการคลัง</a>
                    <ul>
                      <li><a href="http://www.ofm.mof.go.th/" target="_blank" title="สำนักงานรัฐมนตรีกระทรวงการคลัง">สำนักงานรัฐมนตรีกระทรวงการคลัง</a> </li>
                      <li><a href="http://www.mof.go.th/" target="_blank" title="สำนักงานปลัดกระทรวงการคลัง">สำนักงานปลัดกระทรวงการคลัง</a> </li>
                      <li><a href="http://www.fpo.go.th/" target="_blank" title="สำนักงานเศรษฐกิจการคลัง">สำนักงานเศรษฐกิจการคลัง</a> </li>
                      <li><a  href="http://www.treasury.go.th/" target="_blank" title="กรมธนารักษ์">กรมธนารักษ์</a> </li>
                      <li><a  href="http://www.cgd.go.th/" target="_blank" title="กรมบัญชีกลาง">กรมบัญชีกลาง</a> </li>
                      <li><a  href="http://www.excise.go.th/" target="_blank" title="กรมสรรพสามิต">กรมสรรพสามิต</a> </li>
                      <li><a  href="http://www.rd.go.th/" target="_blank" title="กรมสรรพากร">กรมสรรพากร</a> </li>
                      <li><a  href="http://www.customs.go.th/" target="_blank" title="กรมศุลกากร">กรมศุลกากร</a> </li>
                      <li><a href="http://www.pdmo.mof.go.th/" target="_blank" title="สำนักงานบริหารหนี้สาธารณะ">สำนักงานบริหารหนี้สาธารณะ</a> </li>
                      <li><a  href="http://www.sepo.go.th/" target="_blank" title="สำนักงานคณะกรรมการนโยบายรัฐวิสาหกิจ">สำนักงานคณะกรรมการนโยบายรัฐวิสาหกิจ</a> </li>
                    </ul>
                </li>
                <li><a href="http://www.mfa.go.th%20/" target="_blank" title="กระทรวงการต่างประเทศ">กระทรวงการต่างประเทศ</a>
                    <ul>
                      <li><a href="http://www.mfa.go.th/" target="_blank" title="สำนักงานปลัดกระทรวงการต่างประเทศ">สำนักงานปลัดกระทรวงการต่างประเทศ</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1725.php" target="_blank" title="กรมพิธีการฑูต">กรมพิธีการฑูต</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1735.php" target="_blank" title="กรมการกงสุล">กรมการกงสุล</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1726.php" target="_blank" title="กรมยุโรป">กรมยุโรป</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1727.php" target="_blank" title="กรมเศรษฐกิจระหว่างประเทศ">กรมเศรษฐกิจระหว่างประเทศ</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1728.php" target="_blank" title="กรมสนธิสัญญาและกฎหมาย">กรมสนธิสัญญาและกฎหมาย</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1729.php" target="_blank" title="กรมสารนิเทศ">กรมสารนิเทศ</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1730.php%20" target="_blank" title="กรมองค์การระหว่างประเทศ">กรมองค์การระหว่างประเทศ </a> </li>
                      <li><a href="http://www.mfa.go.th/web/1731.php" target="_blank" title="กรมอเมริกาและแปซิฟิกใต้">กรมอเมริกาและแปซิฟิกใต้</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1732.php" target="_blank" title="กรมอาเซียน">กรมอาเซียน</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1733.php" target="_blank" title="กรมเอเชียตะวันออก">กรมเอเชียตะวันออก</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1734.php" target="_blank" title="กรมเชียใต้   ตะวันออกกลางและแอฟริกา">กรมเชียใต้   ตะวันออกกลางและแอฟริกา</a> </li>
                      <li><a href="http://www.mfa.go.th/web/1736.php" target="_blank" title="สำนักงานความร่วมมือเพื่อการพัฒนาระหว่างประเทศ">สำนักงานความร่วมมือเพื่อการพัฒนาระหว่างประเทศ</a> </li>
                    </ul>
                </li>
                <li><a href="http://www.dsdw.go.th/%20" target="_blank" title="กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์">กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</a>
                    <ul>
                      <li><a href="http://www.m-society.go.th/" target="_blank" title="สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์">สำนักงานปลัดกระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์</a> </li>
                      <li><a href="http://www.dsdw.go.th/" target="_blank" title="กรมพัฒนาสังคมและสวัสดิการ">กรมพัฒนาสังคมและสวัสดิการ</a> </li>
                      <li><a href="http://www.women-family.go.th/" target="_blank" title="สำนักงานกิจการสตรีและสถาบันครอบครัว">สำนักงานกิจการสตรีและสถาบันครอบครัว</a> </li>
                      <li><a href="http://www.opp.go.th/" target="_blank" title="สำนักงานส่งเสริมสวัสดิภาพและพิทักษ์เด็ก เยาวชน ผู้ด้อยโอกาส   คนพิการ และผู้สูงอายุ">สำนักงานส่งเสริมสวัสดิภาพและพิทักษ์เด็ก เยาวชน ผู้ด้อยโอกาส   คนพิการ และผู้สูงอายุ</a> </li>
                      <li><a href="http://www.nhanet.or.th/" target="_blank" title"การเคหะแห่งชาติ">การเคหะแห่งชาติ</a> </li>
                      <li><a href="http://www.codi.or.th/" target="_blank" title="สถาบันพัฒนาองค์กรชุมชน   (องค์การมหาชน)">สถาบันพัฒนาองค์กรชุมชน   (องค์การมหาชน)</a> </li>
                    </ul>
                </li>
                <li><a href="http://www.osrd.go.th/%20" target="_blank" title="กระทรวงการท่องเที่ยวและกีฬา">กระทรวงการท่องเที่ยวและกีฬา</a>
                    <ul>
                      <li><a href="http://www.osrd.go.th/" target="_blank" title="สำนักงานปลัดการท่องเที่ยวและกีฬา">สำนักงานปลัดการท่องเที่ยวและกีฬา</a> </li>
                      <li><a href="http://www.tourism.go.th/" target="_blank" title="สำนักงานพัฒนาการท่องเที่ยว">สำนักงานพัฒนาการท่องเที่ยว</a> </li>
                      <li><a href="http://www.mict.go.th/Link/www.osrd.go.th" target="_blank" title="สำนักงานพัฒนาการกีฬาและนันทนาการ">สำนักงานพัฒนาการกีฬาและนันทนาการ</a> </li>
                    </ul>
                </li>
                <li><a href="http://www.moac.go.th/" target="_blank" title="กระทรวงเกษตรและสหกรณ์">กระทรวงเกษตรและสหกรณ์</a>
                    <ul>
                      <li><a href="http://www.mict.go.th/Link/www.moac.go.th" target="_blank" title="สำนักงานปลัดกระทรวงเกษตรและสหกรณ์">สำนักงานปลัดกระทรวงเกษตรและสหกรณ์</a> </li>
                      <li><a href="http://www.rid.go.th/" target="_blank" title="กรมชลประทาน">กรมชลประทาน</a> </li>
                      <li><a href="http://www.cad.go.th/" target="_blank" title="กรมตรวจบัญชีสหกรณ์">กรมตรวจบัญชีสหกรณ์</a> </li>
                      <li><a href="http://www.fisheries.go.th/" target="_blank" title="กรมประมง">กรมประมง</a> </li>
                      <li><a href="http://www.forest.go.th/" target="_blank" title="กรมป่าไม้">กรมป่าไม้</a> </li>
                      <li><a href="http://www.ldd.go.th/" target="_blank" title="กรมพัฒนาที่ดิน">กรมพัฒนาที่ดิน</a> </li>
                      <li><a href="http://www.doa.go.th/th/" target="_blank" title="กรมวิชาการเกษตร">กรมวิชาการเกษตร</a> </li>
                      <li><a href="http://www.doae.go.th/prompt/60nai/index.asp" target="_blank" title="กรมส่งเสริมการเกษตร">กรมส่งเสริมการเกษตร</a> </li>
                      <li><a href="http://www.cpd.go.th/" target="_blank" title="กรมส่งเสริมสหกรณ์">กรมส่งเสริมสหกรณ์</a> </li>
                      <li><a href="http://www.alro.go.th/" target="_blank" title="สำนักงานการปฏิรูปที่ดินเพื่อเกษตรกรรม">สำนักงานการปฏิรูปที่ดินเพื่อเกษตรกรรม</a> </li>
                      <li><a href="http://www.oae.go.th/" target="_blank" title="สำนักงานเศรษฐกิจการเกษตร">สำนักงานเศรษฐกิจการเกษตร</a> </li>
                      <li><a href="http://www.acfs.go.th/" target="_blank" title="สำนักงานมาตรฐานสินค้าเกษตรและอาหารแห่งชาต">สำนักงานมาตรฐานสินค้าเกษตรและอาหารแห่งชาติ</a> </li>
                      <li><a href="http://www.dld.go.th/" target="_blank" title="กรมปศุสัตว์">กรมปศุสัตว์</a> </li>
                    </ul>
                </li>
              </ul></td>
          </tr>
        </table></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#999999"></td>
  </tr>
  <tr>
    <td><h5>สงวนลิขสิทธิ์ 2551- กระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร <br />
    อาคาร 9 บริษัท ทีโอที จำกัด (มหาชน) ถนนแจ้งวัฒนะ เขตหลักสี่ กรุงเทพฯ 10210 </h5></td>
  </tr>
</table>
</body>
</html>
