@font-face {
	font-family: 'Sarabun';
	src: url('../fonts/Sarabun/Sarabun-Regular.eot');
	src: local('☺'), url('../fonts/Sarabun/Sarabun-Regular.woff') format('woff'), url('../fonts/Sarabun/Sarabun-Regular.ttf') format('truetype'), url('../fonts/Sarabun/Sarabun-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

