a:link {
 text-decoration: none;
 color: #666666;
}
a:visited {
 text-decoration: none;
 color: #666666;
}
a:hover {
 text-decoration: none;
 color: #CC9900;
}
a:active {
 text-decoration: none;
 color: #666666;
}
a {
  font-family: Tahoma;font-size: 18px;
}
abbr {
  font-family: Tahoma;font-size: 18px;
}
acronym {
  font-family: Tahoma;font-size: 18px;
}
address {
  font-family: Tahoma;font-size: 18px;
}
applet {
  font-family: Tahoma;font-size: 18px;
}
area {
  font-family: Tahoma;font-size: 18px;
}
b {
  font-family: Tahoma;font-size: 18px;
}
base {
  font-family: Tahoma;font-size: 18px;
}
basefont {
  font-family: Tahoma;font-size: 18px;
}
bdo {
  font-family: Tahoma;font-size: 18px;
}
big {
  font-family: Tahoma;font-size: 18px;
}
blockquote {
  font-family: Tahoma;font-size: 18px;
}
body {
  font-family: Tahoma;font-size: 18px;
}
br {
  font-family: Tahoma;font-size: 18px;
}
button {
  font-family: Tahoma;font-size: 18px;
}
caption {
  font-family: Tahoma;font-size: 18px;
}
center {
  font-family: Tahoma;font-size: 18px;
}
cite {
  font-family: Tahoma;font-size: 18px;
}
code {
  font-family: Tahoma;font-size: 18px;
}
col {
  font-family: Tahoma;font-size: 18px;
}
colgroup {
  font-family: Tahoma;font-size: 18px;
}
dd {
  font-family: Tahoma;font-size: 18px;
}
del {
  font-family: Tahoma;font-size: 18px;
}
dir {
  font-family: Tahoma;font-size: 18px;
}
div {
  font-family: Tahoma;font-size: 18px;
}
dfn {
  font-family: Tahoma;font-size: 18px;
}
dl {
  font-family: Tahoma;font-size: 18px;
}
dt {
  font-family: Tahoma;font-size: 18px;
}
em {
  font-family: Tahoma;font-size: 18px;
}
fieldset {
  font-family: Tahoma;font-size: 18px;
}
font {
  font-family: Tahoma;font-size: 18px;
}
form {
  font-family: Tahoma;font-size: 18px;
}
frame {
  font-family: Tahoma;font-size: 18px;
}
frameset {
  font-family: Tahoma;font-size: 18px;
}
h1 to h6 {
  font-family: Tahoma;font-size: 18px;
}
head {
  font-family: Tahoma;font-size: 18px;
}
hr {
  font-family: Tahoma;font-size: 18px;
}
html {
  font-family: Tahoma;font-size: 18px;
}
i {
  font-family: Tahoma;font-size: 18px;
}
iframe {
  font-family: Tahoma;font-size: 18px;
}
img {
  font-family: Tahoma;font-size: 18px;
}
input {
  font-family: Tahoma;font-size: 18px;
}
ins {
  font-family: Tahoma;font-size: 18px;
}
isindex {
  font-family: Tahoma;font-size: 18px;
}
kbd {
  font-family: Tahoma;font-size: 18px;
}
label {
  font-family: Tahoma;font-size: 18px;
}
legend {
  font-family: Tahoma;font-size: 18px;
}
li {
  font-family: Tahoma;font-size: 18px;
}
link {
  font-family: Tahoma;font-size: 18px;
}
map {
  font-family: Tahoma;font-size: 18px;
}
menu {
  font-family: Tahoma;font-size: 18px;
}
meta {
  font-family: Tahoma;font-size: 18px;
}
noframes {
  font-family: Tahoma;font-size: 18px;
}
noscript {
  font-family: Tahoma;font-size: 18px;
}
object {
  font-family: Tahoma;font-size: 18px;
}
ol {
  font-family: Tahoma;font-size: 18px;
}
optgroup {
  font-family: Tahoma;font-size: 18px;
}
option {
  font-family: Tahoma;font-size: 18px;
}
p {
  font-family: Tahoma;font-size: 18px;
}
param {
  font-family: Tahoma;font-size: 18px;
}
pre {
  font-family: Tahoma;font-size: 18px;
}
q {
  font-family: Tahoma;font-size: 18px;
}
s {
  font-family: Tahoma;font-size: 18px;
}
samp {
  font-family: Tahoma;font-size: 18px;
}
select {
  font-family: Tahoma;font-size: 18px;
}
small {
  font-family: Tahoma;font-size: 18px;
}
span {
  font-family: Tahoma;font-size: 18px;
}
SPAN {
  font-family: Tahoma;font-size: 18px;
}
strike {
  font-family: Tahoma;font-size: 18px;
}
strong {
  font-family: Tahoma;font-size: 18px;
}
STRONG {
  font-family: Tahoma;font-size: 18px;
}
style {
  font-family: Tahoma;font-size: 18px;
}
sub {
  font-family: Tahoma;font-size: 18px;
}
sup {
  font-family: Tahoma;font-size: 18px;
}
table {
  font-family: Tahoma;font-size: 18px;
}
tbody {
  font-family: Tahoma;font-size: 18px;
}
td {
  font-family: Tahoma;font-size: 18px;
}
textarea {
  font-family: Tahoma;font-size: 18px;
}
tfoot {
  font-family: Tahoma;font-size: 18px;
}
th {
  font-family: Tahoma;font-size: 18px;
}
thead {
  font-family: Tahoma;font-size: 18px;
}
title {
  font-family: Tahoma;font-size: 18px;
}
tr {
  font-family: Tahoma;font-size: 18px;
}
tt {
  font-family: Tahoma;font-size: 18px;
}
u {
  font-family: Tahoma;font-size: 18px;
}
ul {
  font-family: Tahoma;font-size: 18px;
}
var {
  font-family: Tahoma;font-size: 18px;
}
xmp {
  font-family: Tahoma;font-size: 18px;
}