BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 75% Arial, Helvetica, sans-serif; COLOR: #333; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 1.83em; MARGIN: 1em 0px 0.5em
}
H2 {
	FONT-SIZE: 1.41em; MARGIN: 1em 0px 0.5em
}
H3 {
	FONT-SIZE: 1.08em; MARGIN: 1em 0px 0.5em
}
H4 {
	FONT-SIZE: 0.91em; MARGIN: 1em 0px 0.5em
}
A:link {
	COLOR: #069; TEXT-DECORATION: none
}
A:visited {
	COLOR: #069; TEXT-DECORATION: none
}
A:focus {
	outline: 1px dotted
}
A:hover {
	COLOR: #f66; TEXT-DECORATION: none; outline: none
}
A:active {
	COLOR: #f66; TEXT-DECORATION: none; outline: none
}
LI A.active {
	COLOR: #f66; TEXT-DECORATION: none; outline: none
}
P {
	FONT-SIZE: 1em; MARGIN: 0px 0px 1.58em; LINE-HEIGHT: 1.58em
}
BLOCKQUOTE {
	PADDING-RIGHT: 1.25em; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 0px; MARGIN: 1.25em; PADDING-TOP: 1.25em
}
EM {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #7f7f7f; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; outline: none
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; outline: none
}
TABLE {
	MARGIN: 1em 0px; WIDTH: 96%
}

