.article--title{
    font-size: 30px;
    color: #000;
}

.article--block, .article--block div{
    padding: 20px;
	font-size: 20px;
/*    border: 1px solid #FFF;*/
    margin-bottom: 10px;
/*    background: #033a5f;*/
}
.article--block p{
	font-size: 20px;
}

.icon--social{
    width: 30px;
    height: 30px;
    text-align: center;
    color: #000;

}
.article--pic{
/*    border: 1px solid #FFF;*/
    margin-bottom: 10px;
}
.article--attachfile {
    padding: 20px;
    margin-bottom: 10px 10px;
    border-top: 1px solid #43455c;

}
.article--attachfile--title {
    color: #2a4c84;
    font-size: 20px;
    font-weight: 600;
}

.aritcle--tag {
    padding: 20px;
	font-size: 22px;
    background: #fafafa;
/*    border-top: 1px solid #FFF;*/
}
.badge-tag{
    padding: 5px 20px;
    background: transparent;
    border: 1px solid #eee;
    font-size: 14px;
/*    background: #033a5f;*/
}

@media (min-width:1px) and (max-width: 991px){
	.w-100-sm{
		width: 100%;
	}
}


#artcile--relese-section {
    width: 100%;
    background: #033a5f;
    padding: 20px;
}
.article--release {
    padding: 20px;
    
}
.article--release--title {
    font-size: 30px;
    font-weight: 600;
}
.card{
    background: #0e3b61; /*033a5f*/
}
.card-title{
    color: #FFF;
}
.card-title a{
    color: #FFF;
}
.card-title a:hover{
    color: #bedcf6;
}

/* table content */
table{
	border-collapse: collapse;
	width: 100%;
}
table thead tr{
	color: #fff;
    background-color: #03355e;
}
table tbody tr{
	color: #000;
    background-color: #698caa;
}
table th, table td{
	padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #99badb;
}
tbody tr:hover{
	color: #000;
    background: #323539;
}


/*===================================================================================*/

/* table content */
table{
	border-collapse: collapse;
	width: 100%;
}
table thead tr{
	color: #fff;
    background-color: #13131a;
}
/*
table tbody tr{
	color: #fff;
    background-color: #212529;
}*/
table th, table td{
	padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #32383e;
}
/*
tbody tr:hover{
	color: #fff;
    background: #323539;
}
*/

.article--block > div.col-lg-6{
	font-size: 20px;
}
ul.list-service li{
	font-size: 20px;
}
ul li{
	font-size: 20px;
}
h2{
	font-size: 32px;
}