.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.3);*/
}


.background1 {
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: auto;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background1:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}


.background:first-child {
	background-color: #000;
  /*background-image: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg);*/
  transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
	background-image: url(../images/bg-3d_t2.jpg);
}
.background:nth-child(3) {
	background-image: url(../images/bg-service.jpg);
}
.background:nth-child(4) {
	background-image: url(../images/bg_sat_t2.jpg);
}
.background:nth-child(5) {
	background-image: url(../images/bg-sec4_t2.jpg);
}
.background:nth-child(6) {
	background-color: #f2f2f2;
	background-image: none;
}
.background:nth-child(7) {
	background-color: #fff;
	background-image: none;
}
.background:nth-child(8) {
  background-color:#f0f0f0;
}
.background:nth-child(9) {
    background-color: #f0f0f0;
	background-image: none;
}


/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 1000;
}

.background:nth-child(2) {
  z-index: 999;
}

.background:nth-child(3) {
  z-index: 998;
}
.background:nth-child(4) {
  z-index: 997;
}
.background:nth-child(5) {
  z-index: 996;
}
.background:nth-child(6) {
  z-index: 995;
}
.background:nth-child(7) {
  z-index: 994;
}
.background:nth-child(8) {
  z-index: 993;
}
.background:nth-child(9) {
  z-index: 992;
}

@media (min-width:10px) and (max-width:767px){
	.content-wrapper{
		height: auto;
	}
}

.txt-blue-color{
	color:#003561;
}
.txt-orange-color{
	color:#d39049;
}
.content-wrapper {
  height: 100vh;
  display: flex;
  /*justify-content: center;
  text-align: center;*/
  flex-flow: column nowrap;
  color: #fff;
  /*text-transform: uppercase;*/
  /*transform: translateY(40vh);*/
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-wrapper-footer {
  height: auto;
  display: flex;
  /*justify-content: center;
  text-align: center;*/
  flex-flow: column nowrap;
  color: #c5c3d0;
  /*text-transform: uppercase;*/
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}
.content-title {
  /*font-size: 12vh;
  line-height: 1.4;*/
}

.background.content-wrapper-footer.up-scroll {
  transform: translate3d(0, 0, 0) !important;
}
.background.content-wrapper-footer.up-scroll .content-wrapper  {
  transform: translate3d(0, 0, 0) !important;
}
.background.content-wrapper-footer.up-scroll + .background {
  transform: translate3d(0, 0, 0) !important;
}
.background.content-wrapper-footer.up-scroll + .background .content-wrapper {
  transform: translate3d(0, 0, 0) !important;
}


.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.content-wrapper-footer.down-scroll {
  transform: translate3d(0, 0, 0) !important;
}
.background.content-wrapper-footer.down-scroll .content-wrapper {
  transform: translateY(0) !important;
}
.background.content-wrapper-footer.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, 0, 0) !important;
}
.background.content-wrapper-footer.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(0) !important;
}


.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
	.dis-pc-service{
		display:block;
	}


/*******************************************

10- 767px - 991px - 1024px

*******************************************/

@media (min-width: 10px) and (max-width: 1024px){
	.container-fluid{
		padding-right: 0px;
	}
	.background {
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
	  overflow: hidden;
	  will-change: none;
	  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
	  height: auto;
	  position: inherit;
	  width: 100%;
	  transform: translateY(0vh);
	  transition: all 1.2s cubic-bezier(0, 0, 0, 0);
	}
	.background:before {
	  content: "";
	  position: none;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  /*background-color: rgba(0, 0, 0, 0);*/
	}


	.background:first-child {
		background-color: #000;
	  transform: translateY(0vh);
	}
	.background:first-child .content-wrapper {
	  transform: translateY(0vh);
	}
	.background:nth-child(2) {
		background-image: url(../images/bg-3d_t2.jpg);
	}
	.background:nth-child(3) {
		background-image: url(../images/bg-service.jpg);
	}
	.background:nth-child(4) {
		background-image: url(../images/bg_sat_t2.jpg);
	}
	.background:nth-child(5) {
		background-image: url(../images/bg-sec4_t2.jpg);
	}
	.background:nth-child(6) {
		background-color: #f2f2f2;
		background-image: none;
	}
	.background:nth-child(7) {
		background-color: #fff;
		background-image: none;
	}
	.background:nth-child(8) {
	  background-color:#f0f0f0;
	}
	.background:nth-child(9) {
		background-color: #f0f0f0;
		background-image: none;
	}


	
	.background:nth-child(1) {
	  z-index: 1000;
	}

	.background:nth-child(2) {
	  z-index: 1000;
	}

	.background:nth-child(3) {
	  z-index: 999;
	}
	.background:nth-child(4) {
	  z-index: 998;
	}
	.background:nth-child(5) {
	  z-index: 997;
	}
	.background:nth-child(6) {
	  z-index: 996;
	}
	.background:nth-child(7) {
	  z-index: 995;
	}
	.background:nth-child(8) {
	  z-index: 994;
	}
	.background:nth-child(9) {
	  z-index: 993;
	}

	@media (min-width:10px) and (max-width:767px){
		.content-wrapper{
			height: auto;
		}
	}

	.content-wrapper {
	  height: auto;
	  display: flex;
	  flex-flow: column nowrap;
	  color: #c5c3d0;
	  /*text-transform: uppercase;*/
	  transform: translateY(0vh);
	  will-change: none;
	  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
	  transition: all 1.7s cubic-bezier(0, 0, 0, 0);
	}
	.content-wrapper-footer {
	  height: auto;
	  display: flex;
	  flex-flow: column nowrap;
	  color: #c5c3d0;
	  /*text-transform: uppercase;*/
	  transform: translateY(0vh);
	  will-change: transform;
	  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
	  transition: all 1.7s cubic-bezier(0, 0, 0, 0);
	}
	.content-title {
	}

	.background.content-wrapper-footer.up-scroll {
	  transform: translate3d(0, 0, 0) !important;
	}
	.background.content-wrapper-footer.up-scroll .content-wrapper  {
	  transform: translate3d(0, 0, 0) !important;
	}
	.background.content-wrapper-footer.up-scroll + .background {
	  transform: translate3d(0, 0, 0) !important;
	}
	.background.content-wrapper-footer.up-scroll + .background .content-wrapper {
	  transform: translate3d(0, 0, 0) !important;
	}


	.background.up-scroll {
	  transform: translate3d(0, 0vh, 0);
	}
	.background.up-scroll .content-wrapper {
	  transform: translateY(0vh);
	}
	.background.up-scroll + .background {
	  transform: translate3d(0, 0vh, 0);
	}
	.background.up-scroll + .background .content-wrapper {
	  transform: translateY(0vh);
	}

	.background.content-wrapper-footer.down-scroll {
	  transform: translate3d(0, 0, 0) !important;
	}
	.background.content-wrapper-footer.down-scroll .content-wrapper {
	  transform: translateY(0) !important;
	}
	.background.content-wrapper-footer.down-scroll + .background:not(.down-scroll) {
	  transform: translate3d(0, 0, 0) !important;
	}
	.background.content-wrapper-footer.down-scroll + .background:not(.down-scroll) .content-wrapper {
	  transform: translateY(0) !important;
	}


	.background.down-scroll {
	  transform: translate3d(0, 0vh, 0);
	}
	.background.down-scroll .content-wrapper {
	  transform: translateY(0vh);
	}
	.background.down-scroll + .background:not(.down-scroll) {
	  transform: translate3d(0, 0vh, 0);
	}
	.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
	  transform: translateY(0vh);
	}
	.tranform-media{
		transform: translate3d(0, 0vh, 0) !important;
	}
	
	.div-box{
		display: block;
		padding: 10px 5px;
		margin: 10px 10px 10px 10px;
	}
	.div-box-img{
		float: none;
		display: block;
		padding-left: 20px;
		padding-bottom: 0px;
	}
	.div-box-txt{
		float: none;
		display: block;
		font-size: 25px;
		padding-top: 5px;
		width: 100%;
	}
	.w-icon-index{
		width: auto;
	}
	.dis-pc-service{
		display:none;
	}
}

