.cadweb2007 {
	font-family: Verdana, Tahoma, "MS Sans Serif";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
.fieldSearch {
	font-family: Verdana, Tahoma, "MS Sans Serif";
	font-size: 11px;
	font-weight: normal;
	color: #0099FF;
	background-color: #FFFFFF;
	border: 1px solid #999999;
}
.Bgmenu {
	font-family: Verdana, Tahoma, "MS Sans Serif";
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #EB8003;
	background-color: #FF8A00;
}
.BoldT {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #0DA3DB;
	text-decoration: none;
}
.HText {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: normal;
	color: #000;
}
.StartT {


	font-family: "Trebuchet MS";
	font-size: 20px;
	font-weight: bolder;
	color: #990000;
}
.red {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FF3300;
	text-decoration: none;
}
.Text {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.WhiteText {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bolder;
	color: #000000;
}
.BlackTe {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
}
.Bgmenu2 {

	font-family: Verdana, Tahoma, "MS Sans Serif";
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #006600;
	background-color: #FFFFFF;
}
.Bgmenu3 {


	font-family: Verdana, Tahoma, "MS Sans Serif";
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #006600;
	background-color: #469E01;
}
.menu {

	font-family: Tahoma;
	font-size: 13px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.menu a:link {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.menu a:visited {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.menu a:hover {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #0C00FF;
	text-decoration: none;
}
.menu a:active {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.menu1 {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #0062a7;
	text-decoration: none;
}
.menu1 a:link {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #0062a7;
	text-decoration: none;
}
.menu1 a:visited {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #0062a7;
	text-decoration: none;
}
.menu1 a:hover {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.menu1 a:active {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #0062a7;
	text-decoration: none;
}
.menu2 {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
}
.menu2 a:link {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
}
.menu2 a:visited {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
}
.menu2 a:hover {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FF5300;
	text-decoration: none;
}
.menu2 a:active {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: normal;
	color: #505050;
	text-decoration: none;
}
