<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-874" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30" height="30"><img src="gallery/bor_01.jpg" width="30" height="30" /></td>
    <td height="30" background="gallery/bor_03.jpg"><img src="gallery/bor_02.jpg" width="220" height="30" /></td>
    <td width="30" height="30"><img src="gallery/bor_05.jpg" width="30" height="30" /></td>
  </tr>
  <tr>
    <td width="30" valign="top" background="gallery/bor_11.jpg"><img src="gallery/bor_06.jpg" width="30" height="209" /></td>
    <td><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
    <td width="30" valign="bottom" background="gallery/bor_09.jpg"><img src="gallery/bor_10.jpg" width="30" height="223" /></td>
  </tr>
  <tr>
    <td width="30" height="29"><img src="gallery/bor_13.jpg" width="30" height="29" /></td>
    <td height="29" background="gallery/bor_15.jpg"><div align="right"><img src="gallery/bor_16.jpg" width="188" height="29" /></div></td>
    <td width="30" height="29"><img src="gallery/bor_17.jpg" width="30" height="29" /></td>
  </tr>
</table>
</body>
</html>
