<table height="52" cellspacing="0" cellpadding="0" width="100%" border="0">
   <form name="search" action="search_result.php" method="post">
     <tbody>
       <tr>
         <td colspan="8" height="7">
          <img height="7" src="images/submenu/space.jpg" width="1" /></td>
      </tr>
       <tr>
         <td width="1%" background="images/submenu/bg1.jpg" height="25">
          <img src="images/submenu/img1.jpg" /></td>
         <td width="3%" background="images/submenu/bg1.jpg"><span style="FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana"> ภาษา </span></td>
         <td align="middle" width="2%" background="images/submenu/bg1.jpg"><a href="main.php?filename=index">
            <img src="images/submenu/btn_thai.jpg" border="0" /></a></td>
         <td align="middle" width="2%" background="images/submenu/bg1.jpg"><a href="http://58.137.128.181/ewtadmin/ewt/dmr_eng/main.php?filename=index">
            <img src="images/submenu/btn_eng.jpg" border="0" /></a></td>
         
        <td width="65%" align="right" background="images/submenu/bg1.jpg"><span style="FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana">ขนาดตัวอักษร </span><img src="images/index/text_size.gif" width="56" height="24" hspace="5" vspace="0" border="0" align="absmiddle" usemap="#MapTextSize">
		<map name="MapTextSize">
  <area shape="rect" coords="1,1,17,24" href="#size" onClick="document.all.stext.href='css/small.css';">
  <area shape="rect" coords="18,1,36,24" href="#size" onClick="document.all.stext.href='css/normal.css';">
  <area shape="rect" coords="37,1,55,24" href="#size" onClick="document.all.stext.href='css/big.css';">
</map>
		</td>
         <td align="right" width="4%" background="images/submenu/bg1.jpg">
          <label>
            <input style="CURSOR: hand" type="image" height="25" width="55" src="images/submenu/img2.jpg" border="0" name="imageField" /></label></td>
         <td width="18%" background="images/submenu/bg2.jpg">
          <input id="keyword" style="BORDER-RIGHT: #ffffff thin solid; BORDER-TOP: #ffffff thin solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #ffffff thin solid; WIDTH: 100px; COLOR: #000000; BORDER-BOTTOM: #ffffff thin solid; FONT-FAMILY: verdana; HEIGHT: 18px; TEXT-DECORATION: none" onfocus="this.value='';" value="ค้นหา" name="keyword" /> 
          <input id="filename" type="hidden" value="index" name="filename" /> 
          <input id="oper" type="hidden" value="OR" name="oper" /></td>
         <td align="right" width="5%" background="images/submenu/bg2.jpg">
          <img src="images/submenu/img3.jpg" /></td>
      </tr>
       <tr>
         <td colspan="8" height="20"></td>
      </tr>
    </tbody>
  </form>
</table>
